<a href="https://colab.research.google.com/github/spps-supalerk/ThaiGovernmentData/blob/main/CleanThaiGovernmentData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive2 = GoogleDrive(gauth)

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Thailand : Thai Population by Tambon (2562)
Link : https://stat.bora.dopa.go.th/new_stat/webPage/statByYear.php

In [3]:
df_pop = pd.read_excel('/content/drive/MyDrive/ThaiME/ExternalData/population_62.xlsx')

df_pop.head()

   YYMM  ProvinceCode       Province  ...    Female     Total     House
0  6312             0     ทั่วประเทศ  ...  33811195  66186727  27224743
1  6312            10  กรุงเทพมหานคร  ...   2962284   5588222   3103483
2  6312            10  กรุงเทพมหานคร  ...     23248     44923     19137
3  6312            10  กรุงเทพมหานคร  ...      1369      3346      1207
4  6312            10  กรุงเทพมหานคร  ...      4770      9650      5363

[5 rows x 11 columns]

In [70]:
# filter sub-total while contains 0 in TabonCode column
df_pop = df_pop[df_pop['TambonCode']!=0]

# remove 'อำเภอ' in column Amphur
df_pop['Amphur'] = df_pop['Amphur'].str.replace('อำเภอ','')

# remove 'จังหวัด' in column Province
df_pop['Province'] = df_pop['Province'].str.replace('จังหวัด','')
df_pop['Province'] = df_pop['Province'].str.strip()

# select needed column
lst_col = ['Province', 'Amphur', 'Tambon', 'Total', 'House']
df_pop_cleaned = df_pop[lst_col]

# change column name
df_pop_cleaned.columns = ['province', 'district', 'subdistrict', 'population_63', 'household_63']
df_pop_cleaned.head()

        province           district  ... population_63  household_63
3  กรุงเทพมหานคร  ท้องถิ่นเขตพระนคร  ...          3346          1207
4  กรุงเทพมหานคร  ท้องถิ่นเขตพระนคร  ...          9650          5363
5  กรุงเทพมหานคร  ท้องถิ่นเขตพระนคร  ...          3071           979
6  กรุงเทพมหานคร  ท้องถิ่นเขตพระนคร  ...          2940          1127
7  กรุงเทพมหานคร  ท้องถิ่นเขตพระนคร  ...          2959           999

[5 rows x 5 columns]

In [6]:
df_pop_cleaned.to_csv('/content/drive/MyDrive/ThaiME/ExternalData/clean_population_63.csv',index=False)

# Thailand : Average Income by Province (2562)
Link : http://statbbi.nso.go.th/staticreport/page/sector/th/02.aspx

In [7]:
df_avg = pd.read_excel('/content/drive/MyDrive/ThaiME/ExternalData/avg_income_62.xlsx',
                       skiprows=2)
df_avg.head()

                           ภาค                      จังหวัด  ...      2560      2562
0              ทั่วราชอาณาจักร              ทั่วราชอาณาจักร  ...  26946.43  26018.42
1  กรุงเทพมหานคร และ 3 จังหวัด  กรุงเทพมหานคร และ 3 จังหวัด  ...  41897.06  37750.96
2                          NaN                กรุงเทพมหานคร  ...  45707.31  39459.36
3                          NaN                  สมุทรปราการ  ...  28711.77  24729.42
4                          NaN                      นนทบุรี  ...  40860.88  37502.22

[5 rows x 12 columns]

In [8]:
## ffill
df_avg['ภาค'] = df_avg['ภาค'].fillna(method ='ffill')

## drop source (last row)
df_avg = df_avg.dropna(subset=['จังหวัด'])

# drop sub-total
# จังหวัด not in below_lst
exclude_lst = ['ทั่วราชอาณาจักร',
               'กรุงเทพมหานคร และ 3 จังหวัด',
               'ภาคกลาง (ไม่รวม กทม. และ 3 จังหวัดรอบ กทม.)',
               'ภาคเหนือ',
               'ภาคตะวันออกเฉียงเหนือ',
               'ภาคใต้']
df_avg = df_avg[~df_avg['จังหวัด'].isin(exclude_lst)]

# replace ['กรุงเทพมหานคร และ 3 จังหวัด', 'ภาคกลาง (ไม่รวม กทม. และ 3 จังหวัดรอบ กทม.)'] with ภาคกลาง
df_avg['ภาค'] = df_avg['ภาค'].replace(['กรุงเทพมหานคร และ 3 จังหวัด', 'ภาคกลาง (ไม่รวม กทม. และ 3 จังหวัดรอบ กทม.)'], 'ภาคกลาง')

# keep only year 2562
df_avg_cleaned = df_avg[['ภาค','จังหวัด',2562]]

# rename columns
df_avg_cleaned.rename(columns = {'ภาค':'region',
                                 'จังหวัด':'province',
                                 2562:'avg_income_62'},
                      inplace=True)

df_avg_cleaned.head()

    region         province  avg_income_62
2  ภาคกลาง    กรุงเทพมหานคร       39459.36
3  ภาคกลาง      สมุทรปราการ       24729.42
4  ภาคกลาง          นนทบุรี       37502.22
5  ภาคกลาง         ปทุมธานี       46977.74
7  ภาคกลาง  พระนครศรีอยุธยา       30589.95

In [9]:
df_avg_cleaned.to_csv('/content/drive/MyDrive/ThaiME/ExternalData/clean_avg_income_62.csv', index=False)

# Thailand : Labor Force by Province (2562)
Link : http://statbbi.nso.go.th/staticreport/page/sector/th/02.aspx

In [10]:
df_labor = pd.read_excel('/content/drive/MyDrive/ThaiME/ExternalData/unemployment_62.xlsx',
                         skiprows=4)
df_labor.head()

        Unnamed: 0       Unnamed: 1  ...  Unnamed: 18  Unnamed: 19
0              ภาค          จังหวัด  ...          ชาย         หญิง
1  ทั่วราชอาณาจักร  ทั่วราชอาณาจักร  ...  2.73011e+07  2.92742e+07
2              NaN              NaN  ...   2.0795e+07   1.7383e+07
3              NaN              NaN  ...  2.06787e+07  1.73081e+07
4              NaN              NaN  ...  2.04664e+07  1.71471e+07

[5 rows x 20 columns]

In [11]:
df_labor_clean_col = df_labor.loc[0,:].reset_index()
labor_new_col = df_labor_clean_col.apply(lambda x: x['index']+'_'+x[0] if 'Unnamed' not in x['index'] else x[0], axis=1)
labor_new_col

0                     ภาค
1                 จังหวัด
2           สถานภาพแรงงาน
3                 กำลังคน
4     กำลังแรงงานปัจจุบัน
5         ไตรมาสที่ 1_รวม
6                     ชาย
7                    หญิง
8         ไตรมาสที่ 2_รวม
9                     ชาย
10                   หญิง
11        ไตรมาสที่ 3_รวม
12                    ชาย
13                   หญิง
14        ไตรมาสที่ 4_รวม
15                    ชาย
16                   หญิง
17       เฉลี่ยทั้งปี_รวม
18                    ชาย
19                   หญิง
dtype: object

In [12]:
# assign new column
df_labor.columns = labor_new_col 

# ignore first row
df_lober = df_labor.loc[1:,:]
df_lober.head()

               ภาค          จังหวัด  ...          ชาย         หญิง
1  ทั่วราชอาณาจักร  ทั่วราชอาณาจักร  ...  2.73011e+07  2.92742e+07
2              NaN              NaN  ...   2.0795e+07   1.7383e+07
3              NaN              NaN  ...  2.06787e+07  1.73081e+07
4              NaN              NaN  ...  2.04664e+07  1.71471e+07
5              NaN              NaN  ...       212384       161013

[5 rows x 20 columns]

In [13]:
# forward fill missing data
df_labor['จังหวัด'] = df_labor['จังหวัด'].fillna(method='ffill')

# select only ['ผู้มีงานทำ', 'ผู้ว่างงาน']
df_labor = df_labor[df_labor['กำลังแรงงานปัจจุบัน'].isin(['ผู้มีงานทำ', 'ผู้ว่างงาน'])]

# select column in list
col = ['จังหวัด','กำลังแรงงานปัจจุบัน', 'ไตรมาสที่ 4_รวม']
df_labor_cleaned = df_labor[col]

In [14]:
# change data type
df_labor_cleaned['ไตรมาสที่ 4_รวม'] = df_labor_cleaned['ไตรมาสที่ 4_รวม'].astype(float)

# ignore sub total
lst_sub_total = ['ทั่วราชอาณาจักร', 'ภาคกลาง', 'ภาคตะวันออกเฉียงเหนือ', 'ภาคเหนือ', 'ภาคใต้']
df_labor_cleaned = df_labor_cleaned[~df_labor_cleaned['จังหวัด'].isin(lst_sub_total)]

# create singleview

df_labor_cleaned_pv = df_labor_cleaned.pivot_table(index='จังหวัด', columns = 'กำลังแรงงานปัจจุบัน', values = 'ไตรมาสที่ 4_รวม', aggfunc='sum').reset_index()
df_labor_cleaned_pv.columns = ['province', 'employ_62', 'unemploy_62']
df_labor_cleaned_pv.head()

        province   employ_62  unemploy_62
0         กระบี่   212865.74      3648.87
1  กรุงเทพมหานคร  5264292.95     32313.31
2      กาญจนบุรี   463672.98      1885.19
3      กาฬสินธุ์   409106.41       321.65
4      กำแพงเพชร   405775.09      5842.89

In [15]:
df_labor_cleaned_pv.to_csv('/content/drive/MyDrive/ThaiME/ExternalData/clean_labor_force_62.csv', index=False)

# Thailand : Poor People by Province (2562)
Link : http://statbbi.nso.go.th/staticreport/page/sector/th/08.aspx

In [16]:
# unit = 1k
df_poor = pd.read_excel('/content/drive/MyDrive/ThaiME/ExternalData/poor_people_62.xlsx',
                        skiprows=3)
df_poor.head()

               ภาค          จังหวัด  ...         2562  Unnamed: 12
0  ทั่วราชอาณาจักร  ทั่วราชอาณาจักร  ...  4326.152000          NaN
1    กรุงเทพมหานคร    กรุงเทพมหานคร  ...    52.907190          NaN
2          ภาคกลาง          ภาคกลาง  ...   883.013500          NaN
3              NaN      สมุทรปราการ  ...    12.429620          NaN
4              NaN          นนทบุรี  ...     4.201143          NaN

[5 rows x 13 columns]

In [17]:
# select columns
col = ['จังหวัด',2562]
df_poor = df_poor[col]

# drop null values in จังหวัด 
df_poor.dropna(subset=['จังหวัด'], inplace=True)

# ignore sub total
lst_sub_total = ['ทั่วราชอาณาจักร', 'ภาคกลาง', 'ภาคตะวันออกเฉียงเหนือ', 'ภาคเหนือ', 'ภาคใต้']
df_poor_cleaned = df_poor[~df_poor['จังหวัด'].isin(lst_sub_total)]

# rescale and store in poor_people_62 
df_poor_cleaned['poor_people_62'] = df_poor_cleaned[2562] * 1000

# rename column
df_poor_cleaned.rename(columns={'จังหวัด':'province'}, inplace=True)

# drop unneeded column
df_poor_cleaned.drop(columns=2562, inplace=True)

df_poor_cleaned.head()

          province  poor_people_62
1    กรุงเทพมหานคร       52907.190
3      สมุทรปราการ       12429.620
4          นนทบุรี        4201.143
5         ปทุมธานี        4253.961
6  พระนครศรีอยุธยา       19946.500

In [18]:
df_poor_cleaned.to_csv('/content/drive/MyDrive/ThaiME/ExternalData/clean_poor_people.csv', index=False)

# Merge 3 dfs Together
## df_avg_cleaned, df_labor_cleaned_pv, df_poor_cleaned (province lv)

In [96]:
# merge df_avg_cleaned, df_labor_cleaned_pv, df_poor_cleaned
df_province_char = df_pop_cleaned.merge(df_avg_cleaned, how='outer', on='province')
df_province_char = df_province_char.merge(df_labor_cleaned_pv, how='outer', on='province')
df_province_char = df_province_char.merge(df_poor_cleaned, how='outer', on='province')
df_province_char = df_province_char[['region','province', 'district', 'subdistrict', 'population_63', 'household_63',
                                     'avg_income_62', 'employ_62', 'unemploy_62','poor_people_62']]
df_province_char.isnull().sum()

region            0
province          0
district          0
subdistrict       0
population_63     0
household_63      0
avg_income_62     0
employ_62         0
unemploy_62       0
poor_people_62    0
dtype: int64

In [97]:
df_province_char.head()

    region       province  ... unemploy_62 poor_people_62
0  ภาคกลาง  กรุงเทพมหานคร  ...    32313.31       52907.19
1  ภาคกลาง  กรุงเทพมหานคร  ...    32313.31       52907.19
2  ภาคกลาง  กรุงเทพมหานคร  ...    32313.31       52907.19
3  ภาคกลาง  กรุงเทพมหานคร  ...    32313.31       52907.19
4  ภาคกลาง  กรุงเทพมหานคร  ...    32313.31       52907.19

[5 rows x 10 columns]

In [94]:
df_province_char.columns

Index(['province', 'district', 'subdistrict', 'population_63', 'household_63',
       'region', 'avg_income_62', 'employ_62', 'unemploy_62',
       'poor_people_62'],
      dtype='object')

In [91]:
df_province_char.to_csv('/content/drive/MyDrive/ThaiME/ExternalData/full_province_char.csv', index=False)